<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thecoloredcolors.rmsha.flikfeed">

    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/flickfeed"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flickfeed"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProviderFlikFeed"
            android:exported="false" />

        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.StoryActivity" />
        <activity android:name=".Activities.MessagesActivity" />
        <activity
            android:name=".Activities.ImagePickerDemo"
            android:theme="@style/PickerAppTheme" />
        <activity android:name=".Activities.PublishActivity" />
        <activity android:name=".ui.activities.UserListingActivity" />
        <activity android:name=".ui.activities.ChatActivity" />
        <activity android:name=".Activities.SearchActivity" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/flickfeed" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.WelcomeActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.LoginActivity" />

        <meta-data
            android:name="DATABASE"
            android:value="flikfeed.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.thecoloredcolors.rmsha.flikfeed" />
    </application>

</manifest>